apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend-dep
  labels:
    app: web
spec:
  replicas: 1
  selector:
    matchLabels:
      app: web
  template:
    metadata:
      labels:
        app: web
    spec:
      containers:
      - name: frontend
        # image: pram25/docker_client
        image: gcr.io/try-kubernetes-233612/web_frontend
        env:
        - name: PORT
          value: "3000"
        ports:
        - containerPort: 3000
        livenessProbe:
          httpGet:
            path: /
            port: 3000        
        