apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: ingress-service
spec:
  rules:
  - http:
      paths:
      - path: /api/
        backend:
          serviceName: backend-service
          servicePort: 9090
      - path: /*
        backend:
          serviceName: frontend-service
          servicePort: 3000
       
